# September 10, 2024

### PDF: Pandas.pdf

Inner join: has the common information so it maintains only the overlapping information.

Outer join: includes all rows from both tables, filling in missing values with NaN for non-matching rows.

![title](images/Joins.jpg)

Look at how the rows are chosen based on the join. Since we don't know if A column is the same for both tables we create A_1 and A_2.

### Group By

In [15]:
import pandas as pd 

data = {'Category': ['A', 'B', 'A', 'B', 'A'],
        'Value': [10,20,15,25,30]}

df = pd.DataFrame(data)

# Grouping by the 'Category' column
grouped = df.groupby('Category')

# Calculating the sum of 'Value' for each group
sum_by_category = grouped['Value'].sum()

print(sum_by_category)

Category
A    55
B    45
Name: Value, dtype: int64

## Aggregation
Aggregation in Pandas refers to the process of combining multiple data points
into a single summary value. It involves performing a computation on a group of
data elements and summarizing the results. Aggregation is often used in
combination with the .groupby() function to analyze and summarize data based
on specific categories or groups.

In [4]:
import pandas as pd 

data = {'Category': ['A', 'B', 'A', 'B', 'A'],
        'Value': [10,20,15,25,30]}

df = pd.DataFrame(data)

# Grouping by the 'Category' column and calculating aggregations
aggregated = df.groupby('Category').agg({
    'Value': ['sum', 'mean', 'max']
})

print(aggregated)

         Value
           sum       mean max
Category
A           55  18.333333  30
B           45  22.500000  25

## Data Reshaping

Wide = a lot of columns with several rows it will be hard to view the data as it would be wide asf. 

Long = a lot of rows with several columns. 

Pivoting data - long to wide (e.g. use pivot())
Melting data - wide to long (e.g. use melt())

.stack() method in Pandas is used to transform or reshape a DataFrame from a wide format to a long format by "stacking" the columns into a single column.

![title](images/Stack.jpg)![title](images/Complement-Stack.jpg)

## Data Cleaning 
• Handling missing values (e.g., using .dropna() or .fillna()).

• Removing duplicate rows (e.g., using .drop_duplicates()).

• Correcting inconsistent or erroneous data.

## Creating new features

• Deriving new columns based on existing ones.

• Using conditional statements to create categorical features.

## Scaling and Normalization

![title](images/Z-score.jpg)

### Normalizing Data (Min-max scaling

In [37]:
import pandas as pd
# Sample dataset
data = {'values': [10, 12, 12, 13, 12, 12, 14, 15, 100]}
# The value 100 is an outlier
df = pd.DataFrame(data)

# Calculate Z-scores
df['Z-score'] = (df['values'] - df['values'].mean()) / df['values'].std()

print(df['Z-score'])

0   -0.418556
1   -0.350065
2   -0.350065
3   -0.315819
4   -0.350065
5   -0.350065
6   -0.281574
7   -0.247328
8    2.663537
Name: Z-score, dtype: float64

#### Since the dataset is not big enough the 100 affected the mean and therefore the Z-score as the 100 is an outlier

### Log Transformation

In [38]:
import numpy as np

# Log transformation
df['log_values'] = np.log1p(df['values'])

df

   values   Z-score  log_values
0      10 -0.418556    2.397895
1      12 -0.350065    2.564949
2      12 -0.350065    2.564949
3      13 -0.315819    2.639057
4      12 -0.350065    2.564949
5      12 -0.350065    2.564949
6      14 -0.281574    2.708050
7      15 -0.247328    2.772589
8     100  2.663537    4.615121

## Handling Outliers and Anomalies

In [25]:
import pandas as pd

# Sample dataset
data = {'values': [10, 12, 12, 13, 12, 12, 14, 15, 100]}

# The value 100 is an outlier
df = pd.DataFrame(data)

# Calculate Z-scores
df['Z-score'] = (df['values'] - df['values'].mean()) / df['values'].std()

# Identify outliers
outliers = df[df['Z-score'].abs() > 3]
print(outliers)

Empty DataFrame
Columns: [values, Z-score]
Index: []

## CHECK HOW TO PROPERLY DO THIS SHIT

In [35]:
import pandas as pd
import numpy as np

# Set random seed for reproducibility
np.random.seed(42)

# Generate 50 normal data points
data = np.random.normal(loc=50, scale=5, size=50)

# Insert some outliers
outliers = [100, 110, 120, 130]

## How to concatate the data with outlier? Name it data_with_outliers
data_with_outliers = np.concatenate([data, outliers])

# Create DataFrame
df = pd.DataFrame(data_with_outliers, columns=['values'])
print(df.describe())

df['log_values'] = np.log1p(df['values'])
print(df.describe())

df['Z-score'] = (df['values'] - df['values'].mean()) / df['values'].std()
print()

           values
count   54.000000
mean    53.770954
std     18.307407
min     40.201649
25%     46.548451
50%     49.089898
75%     52.655493
max    130.000000
           values  log_values
count   54.000000   54.000000
mean    53.770954    3.967668
std     18.307407    0.242072
min     40.201649    3.718478
25%     46.548451    3.861735
50%     49.089898    3.913810
75%     52.655493    3.982582
max    130.000000    4.875197